html, body {
	padding: 0;
	margin: 0;
}
body {
	background: #222;
	font-family: 'Assistant', sans-serif;
	font-size: 18px;
}
h2 {
	font-weight: normal;
	opacity: 0.75;
}
dl {
	margin-top: 0;
}
dt {
	display: inline-block;
}
	dt:after {
		content: ":";
	}
dt.num {
	color: black;
	background-color: rgba(255,255,255,0.5);
	padding: 0.25em 0.5em;
	margin-right: 1em;
	font-weight: bold;
}
	dt.num:after {
		content: "";
	}
dd {
	display: inline-block;
}
dl.cost {
	display: block;
	font-size: 80%;
}

a {
	color: #aaddff;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
.full {
	color: #ffaa99;
}


.body {
	z-index: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	color: #eee;
}
	section {
		position: absolute;
		z-index: 2;
		transition: all 1s ease-in-out;
	}
	#stage {
		z-index: 1;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
	}

.title {
	transition: all 20s ease-out;
	top: 20%;
	width: 100%;
	text-align: center;
	font-size: 200%;
}

.mask {
	transition: all 1s ease-out;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}

.log {
	top: 5%;
	left: 5%;
	max-width: 30%;
}
	.log ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.log li:before {
		content: "> ";
	}
	.log li:nth-child(1) {
		opacity: 0.2;
	}
	.log li:nth-child(2) {
		opacity: 0.4;
	}
	.log li:nth-child(3) {
		opacity: 0.6;
	}
	.log li:nth-child(4) {
		opacity: 0.8;
	}

.location {
	top: 5%;
	right: 5%;
	text-align: right;
}
	.building-uses,
	.building-produces {
		font-size: 80%;
	}



.inventory {
	bottom: 5%;
	right: 5%;
	text-align: right;
}
.help {
	bottom: 5%;
	left: 5%;
	opacity: 0.9;
}
.credits,
.build,
.win {
	box-sizing: border-box;
	left: 50%;
	padding: 2em;
	background: rgba(0,0,0,0.5);
}

.credits,
.win {
	top: 25%;
	width: 20em;
	margin-left: -10em;
}

.build {
	top: 5%;
	width: 30em;
	margin-left: -15em;
}
	.build > dl > div {
		border-bottom: solid 1px rgba(255,255,255,0.1);
		margin-bottom: 0.5em;
	}
	.build > dl > div::after { content: ""; display: table; clear: both; }
	.build .image {
		margin: 0 0 0 1em;
		float: right;
	}
	.build .image img {
		
		width: 2em;
	}
	.build .name {
		min-width: 9em;
	}


.cannotAfford {
	
}
	.cannotAfford .name,
	.cannotAfford .cost {
		color: #cc6666;
	}
	.cannotAfford .image {
		opacity: 0.2;
	}

.closed,
div.closed,
section.closed {
	font-size: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
}

